header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

header button{
    display: flex;
    background-color: aquamarine;
}

header h1{
    display: flex;
}

.quiz-body{
    text-align: center;
    font-size: 20px;
}

.quiz-box{
    width: 600px;
    margin: auto;
}

.quiz-header{
    text-align: center;
    padding-top: 15px;
}

.start-button {
    display: flex;
    flex-wrap: nowrap;
    display:inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.card{
    width: 600px;
    margin: auto;
    border: none;
}

#score-list{
    font-size: 26px;
    background-color: aquamarine;
}